<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <style>
        * {
            font-family: 'Montserrat', sans-serif;
        }
    </style>
</head>
<body>
    <center>
        <p><b>Name:</b></p>
        <p>{{name}}</p>
        <p><b>Assunto:</b></p>
        <p>{{subject}}</p>
        <p><b>Mensagem:</b></p>
        <p>{{message}}</p>
    </center>
    <hr>
    <img src="https://pot-backend.herokuapp.com/assets/images/logo_email.png" alt="POT-LOGO">
    <p>Email enviado pela aplicação "Parcerias de Ordenamento do Território"</p>
</body>
</html>